<!DOCTYPE html>
<html class="background_image">
<head>
  <title>Tinyurl</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

	<header class="header">
		mark.ly
		<a href="/">Create Short!</a>
	</header>

<%= yield %>

</body>
</html>
